@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    overflow: hidden;
}

.nav {
    width: 100vw;
    height: 80px;

    padding: 1rem 2.5rem;

    display: flex;
    align-items: center;

    background-color: #001507B2;
}

.nav__itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 2rem;
}

.links a {
    font-size: 24px;
    font-weight: 500;

    color: var(--color-3);

    transition: 0.5s ease-in-out
}

.links a:hover {
    color: var(--color-1);
}

.selecionado {
    color: var(--color-1) !important;
}

.barra__pesquisa {
    display: flex;
    align-items: center;
}

main {
    width: 100vw;
    height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.cartao {
    width: 500px;
    height: 650px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    border-radius: 1rem;
    background-color: blue;
}

.cartao__foto {
    width: 80%;

    border-radius: 50%;
}