body
{
    color: var(--color-3);
    background: var(--color-4);
    overflow-x: hidden;
}

header
{
    width: 100%;
    opacity: 70%;
    position: fixed;
    z-index: 100;
    
}

.nav {
    width: 100vw;
    height: 80px;
    max-width: 1440px;

    margin: 0 auto;
    padding: 1rem 2.5rem;

    display: flex;
    align-items: center;

    background-color: #001507B2;
}

.nav__itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 2rem;
}

.selecionado {
    color: var(--color-1) !important;
}

main{
    max-width: 90rem;
    margin: 0 auto;
}

.home1{
    width: 100vw;
    height: 100vh;

    background-image: url("../assets/Background.jpg");
    background-size: 1440px 900px;
    background-repeat: no-repeat;
}

.saudacao{

    width: 400px;

    display: flex;
    gap: 20px;
    
    padding-top: 100px;
    padding-left: 50px;

}

.trocaPagina{
    margin-top: 650px;
}

.mouseAni{
    margin-left: 150px;
}
.home2
{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.descricaoFot{
    width: 300px;
    height: 200px;
    display: flex;
    align-items:center ;
    padding-top: 60px;
    padding-left: 50px;
}

.descricaoFot > img{
    padding-top: 30px;
}

.descricaoFot > div{
    display: flex;
    width: 200px;
}

.descRick
{
    display: flex;
    align-items: center;
}

.descRick > img{
    width: 700px;;
}

.descRick > p{
    line-height:50px;
    height: 300px;
}

.trocaPages2{
    padding-bottom: 20px;
}

.home3
{
    background-image: url("../assets/Background2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.trailerof{
    width: 400px;

    display: flex;
    gap: 20px;
    
    padding-top: 100px;
    padding-left: 50px;
}

.trailerof > div{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.trocarPagina{
    margin-top: 250px;

}

.titulo2
{
    color: var(--color-2);
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1rem;
}

.titulo3
{
    color: var(--color-2);
    margin-top: 50px;
    margin-left: -55px;
    font-size: 1rem;
}

.descricao
{
    height: 100%;
    color: var(--color-2);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 40px 0 0;
}

span
{
    color: var(--color-1);
}

.trailer
{
   position: relative;
   width: 900px;
   height: 500px;
   top: 100px;
   left: 20%;
}



.mouse1, .mouse3
{
    margin: -650px 0 0 450px;
    animation: jumping 1s linear infinite;
    cursor: pointer;
}

.mouse2
{
    margin: 10px 0 0 450px;
    animation: jumping 1s linear infinite;
    cursor: pointer; 
}

a
{
    color: var(--color-2);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
}

[data-anime]
{
    opacity: 0;
    transition: 1s;
}

[data-anime="right"]
{
    transform: translate3d(50px, 0, 0);
}

[data-anime="up"]
{
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"]
{
    transform: translate3d(-100%, 0, 0);
}

[data-anime].animate
{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes jumping
{
    from{transform: translateY(-15px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-15px);}
}


@media(max-width: 1024px)
{   
    body{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    header{
        width: 50%;
        position: fixed;
    }

    .home1{
        width: 1000px;
        height: 100vh;
        background-size: 1050px 900px;
    } 

    .trocaPagina{
        margin-top: 600px;
    }

    .mouseAni{
        margin-left: -100px;
    }

    .home2{
        width: 970px;
        height: 1050px;
    }

    .descRick{
        display: flex;
    }

    .descRick > p{
        font-size: small;
        width: 200px;
        height: 100px;
        margin-bottom: 600px;

    }

    .trocaPages2{
        margin-bottom: 500px;
    }

    .home3{
        border: 10px solid red;
        width: 970px;
        height: 1050px;   
    }

    .trailer{
        position: relative;
        width: 700px;
        height: 400px;
        top: 100px;
        left: 13%;
    }

    
}

@media(max-width: 768px)
{
    .home1{
        width: 950px;
        height: 100%;
        background-image: url("../assets/Background.jpg");
    }  
}

@media(max-width: 425px)
{
    .home1{
        width: 900px;
        height: 100%;
        background-image: url("../assets/Background.jpg");
    } 
}

@media(max-width: 320px)
{
    .home1{
        width: 900px;
        height: 100%;
        background-image: url("../assets/Background.jpg");
    } 
}