body
{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-3);
    background-color: #001506;
    overflow-x: hidden;
    z-index: 0;
}

header
{
    width: 100vw;
    opacity: 70%;
    position: fixed;
    z-index: 100;
    /* top: 30px; */
}

.nav {
    width: 100%;
    height: 80px;

    /* padding: 1rem 2rem; */

    display: flex;
    align-items: center;

    background-color: #011808;
    padding-top: 30px;

}

.links {
    display: flex;
    padding-left: 30px;
}

.links a {
    font-size: 24px;
    font-weight: 500;

    color: var(--color-3);

    transition: 0.5s ease-in-out
}

.links a:hover {
    color: var(--color-1);
}

.selecionado {
    color: var(--color-1) !important;
}


main{
    display: flex;
    height: 375px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.home1{
    width: 99%;
    height: 1000vh;

    /* background-image: url("../assets/Background.jpg");
    background-repeat: no-repeat; */
}

.bg{
    width: 100%;
}

.saudacao{

    width: 400px;

    display: flex;
    
    
    padding-top: 90px;
    /* padding-left: 50px; */

}

.saudacoes
{
     padding-left: 10px;
}

.trocaPagina{
    margin-top: -30px;
    margin-left: 30px;
}


.home2
{
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
}

.descricaoFot{
    width: 50px;
    height: 200px;
    /* display: flex;
    align-items:center ; */
    /* padding-top: 60px; */
    /* padding-left: 50px; */
}

.descricaoFot > div{
    display: flex;
    width: 200px;
    margin-top: -75px;
}

.descRick
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -120px 0;
}

.descRick > img{
    width: 300px;;
}

.descRick > p{
    line-height:50px;
    height: 300px;
}

.trocaPages2{
    padding-bottom: 20px;
    margin-top: -60px;
    margin-left: 50px;
}

.home3
{
    background-image: url("../assets/Background2.jpg");
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;
    margin-top: 220px;
}

.trailerof{
    width: 400px;

    display: flex;
    /* gap: 20px; */
    
    padding-top: 30px;
    /* padding-left: 50px; */
}

.trailerof > div{
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-left: 10px;
}

.trocarPagina{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.titulo2
{
    color: var(--color-2);
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1rem;
}

.titulo3
{
    color: var(--color-2);
    margin-top: 50px;
    margin-left: -55px;
    font-size: 1rem;
}

.descricao
{
    height: 100%;
    color: var(--color-2);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin: 0 30px;
    padding-right: 20px;
}

span
{
    color: var(--color-1);
}

#trailer2
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.trailer
{
   position: relative;
   width: 190px;
   height: 190px;
   top: 5px;
   /* left: 30%; */
   margin-bottom: 20px;
   padding-right: 20px;
}

.mouse3
{
    width: 20px;
    /* margin: -650px 0 0 20%; */
    animation: jumping 1s linear infinite;
    cursor: pointer;
}

.mouse2
{
    margin: 10px 0 0 150px;
    animation: jumping 1s linear infinite;
    cursor: pointer; 
}
li > a
{
    padding: 10px;
}
a
{
    color: var(--color-2);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0px;
}

[data-anime]
{
    opacity: 0;
    transition: 1s;
}

[data-anime="right"]
{
    transform: translate3d(50px, 0, 0);
}

[data-anime="up"]
{
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"]
{
    transform: translate3d(-100%, 0, 0);
}

[data-anime].animate
{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes jumping
{
    from{transform: translateY(-15px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-15px);}
}

@media(min-width: 768px)
{
    .home1{
        width: 100%;
        height: 1000vh;
        
        /* background-image: url("../assets/Background.jpg");
        background-repeat: no-repeat; */
    }
    
    .saudacao{
        
        padding-top: 120px;
        padding-left: 50px;
    
    }

    .descricaoFot{
        width: 50px;
        height: 200px;
        padding-left: 50px;
    }

    .descRick
    {
        display: flex;
        align-items: center;
        margin: -120px 0;
        flex-direction: row;
    }

    

    .trailer
{
   position: relative;
   width: 600px;
   height: 400px;
   /* top: 5px; */
   margin: auto;
   /* margin-bottom: 20px; */
   /* padding-right: 20px; */
   /* left: 30%;
   right: 30%; */
}

.trailerof{
    width: 400px;

    display: flex;
    /* gap: 20px; */
    
    padding-top: 30px;
    padding-left: 50px;
}

.descRick > img{
    width: 350px;
}
}

@media(min-width: 1024px)
{
    .descRick > img{
        width: 500px;
    }
}

@media(min-width: 1280px)
{
    .descRick > img{
        width: 800px;
    }

    .descricao
    {
        font-size: 1.5rem;
    }
}

/* @media(max-width: 1024px)
{   
    body{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    header{
        width: 50%;
        position: fixed;
    }

    .home1{
        width: 1000px;
        height: 100vh;
        background-size: 1050px 900px;
    } 

    .trocaPagina{
        margin-top: 600px;
    }

    .mouseAni{
        margin-left: -100px;
    }

    .home2{
        width: 970px;
        height: 1050px;
    }

    .descRick{
        display: flex;
    }

    .descRick > p{
        font-size: small;
        width: 200px;
        height: 100px;
        margin-bottom: 600px;

    }

    .trocaPages2{
        margin-bottom: 500px;
    }

    .home3{
        border: 10px solid red;
        width: 970px;
        height: 1050px;   
    }

    .trailer{
        position: relative;
        width: 700px;
        height: 400px;
        top: 100px;
        left: 13%;
    }

    
} 

@media(max-width: 768px)
{
    .home1{
        width: 950px;
        height: 100%;
        background-image: url("../assets/Background.jpg");
    }  
}

@media(max-width: 425px)
{
    .home1{
        width: 900px;
        height: 100%;
        background-image: url("../assets/Background.jpg");
    } 
}

@media(max-width: 320px)
{
    .home1{
        width: 900px;
        height: 100%;
        background-image: url("../assets/Background.jpg");
    } 
} */