body
{
    width: 100%;
    background: var(--grey4);
}

body img
{
    position: relative;
    left: 25%;
}

.btn
{
    width: 352px;
    height: 56px;
    background: var(--grey1);
    color: var(--grey4);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0 35%;
}