body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

    overflow: hidden;
}

.nav {
    width: 100vw;
    height: 80px;

    padding: 1rem 2.5rem;

    display: flex;
    align-items: center;

    background-color: #001507B2;
}

.nav__itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 2rem;
}

.links a {
    font-size: 24px;
    font-weight: 500;

    color: var(--color-3);

    transition: 0.5s ease-in-out
}

.links a:hover {
    color: var(--color-1);
}

.selecionado {
    color: var(--color-1) !important;
}

input
{
    width: 400px;
    height: 40px;
    position: relative;
    left: 600px;
    border: none;
    border-radius: 8px;
    background: var(--color-5);
    color: var(--color-4);
}

nav img
{
    position: relative;
    left: 560px;
}

div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg
{
    margin: -350px;
    border-radius: 16px;
}

.dev
{
    width: 278px;
    height: 278px;
    border-radius: 200px;
    margin: -100px auto;
}

.nome
{
    color: var(--color-3);
    font-size: 4.37rem;
    font-weight: 900;
    margin: 150px 0 0 -455px;
    transform: rotate(270deg);
}

.status
{
    color: var(--color-3);
    font-size: 4.37rem;
    font-weight: 900;
    margin: 150px 0 0 455px;
    transform: rotate(-270deg);
}

.nome1
{
    font-size: 1rem;
    color: var(--color-3);
    margin: 100px 0 0 0;
}